html,
body,
#root {
  height: 100%;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://source.unsplash.com/random/1280x1024");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-repeat: none;
  height: 100%;
}
